In [4]:
import pandas as pd
import numpy as np

dates=pd.date_range('20180310',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])#生成6行4列位置
print(df)

                   A         B         C         D
2018-03-10 -0.248171  0.345545 -1.186988  0.523387
2018-03-11  1.429124 -0.014926 -0.851192  0.925336
2018-03-12  1.020009  1.731112  0.565619 -1.061547
2018-03-13 -0.677176 -1.265137  0.767874  0.302172
2018-03-14 -2.007472 -0.989890 -1.459262  0.997544
2018-03-15  0.920613  0.766186  0.768318 -0.744032

In [6]:
data=pd.DataFrame({'Apples': [30], 'Bananas': [21]})
print(data)

   Apples  Bananas
0      30       21

In [9]:
q6_df = pd.DataFrame({'Apples': [35, 41], 'Bananas': [21, 34]}, index=['2017 Sales', '2018 Sales'])
print(q6_df)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [11]:
pd.DataFrame({'Apples': {'2017 Sales': 35, '2018 Sales': 41}, 'Bananas': {'2017 Sales': 21, '2018 Sales': 34}})

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [18]:
se=pd.Series({'Flour': '4 cups', 'Milk': '1 cup', 'Eggs': '1 large', 'Spam': '1 can'})
se.name='Dinner'
print(se)

Eggs     1 large
Flour     4 cups
Milk       1 cup
Spam       1 can
Name: Dinner, dtype: object

In [20]:
q6_df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
print(q6_df)

        Cows  Goats
Year 1    12     22
Year 2    20     19