In [1]:
import pandas as pd

/root/.virtualenvs/ENV-3.6/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.DataFrame([[1, 1, 2, 5.0], [1, 2, 3, 2.0], [2, 3, 4, 5.0],[3, 4, 5, 6.0],[3, 3, 5, 7.0]], columns=["A", "B", "C", "D"])

In [3]:
df.head(20)

   A  B  C    D
0  1  1  2  5.0
1  1  2  3  2.0
2  2  3  4  5.0
3  3  4  5  6.0
4  3  3  5  7.0

In [4]:
filter = ['A','C']

In [5]:
test = df[df['D'] >= 5.0].groupby(filter)

In [6]:
test.head()

   A  B  C    D
0  1  1  2  5.0
2  2  3  4  5.0
3  3  4  5  6.0
4  3  3  5  7.0

In [7]:
def filt(x, y, z):
    for i in range(len(z)):
        if x[z[i]].values[0] != y[i]:
            return False
    return True

In [8]:
counts = test['D'].count()

In [9]:
for index in counts.index:
    if counts[index] <= 3:
        samples = df[df['D'] < 5.0].sample(n=1)
        samples[filter] = index
        samples['D'] = test.filter(lambda x: filt(x, index, filter))['D'].mean()
        df = pd.concat([df, samples], axis=0, ignore_index=True)

In [10]:
df.head(20)

   A  B  C    D
0  1  1  2  5.0
1  1  2  3  2.0
2  2  3  4  5.0
3  3  4  5  6.0
4  3  3  5  7.0
5  1  2  2  5.0
6  2  2  4  5.0
7  3  2  5  6.5

In [ ]:
df[['A','C']].head()